<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-5">
    <div class="col-8 offset-3">
        <h2>Listing Details:</h2>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
        <div class="card-body">
        <h4 class="card-title"><%= listing.title %></h4>
        <p class="card-text">
            <%= listing.description %><br>
            &#8377;<%= listing.price.toLocaleString("en-IN") %> /night<br>
            <i class="fas fa-location-dot"></i> <%= listing.location %>,
            <%= listing.country %><br>
        </p>
        </div>
    </div>       
    </div>
    <br>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button class="btn btn-dark offset-5 del-btn">Delete</button>
        </form>
    </div> 
</div>